@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html,
body {
  // overflow-x: hidden;
  // background-color: aqua;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Barlow Condensed", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
p,
button,
input,
optgroup,
select,
textarea {
  font-family: "Barlow Condensed", sans-serif !important;
}

// fonts
.barlow {
  font-family: "Barlow", sans-serif !important;
}

.leading-100 {
  line-height: 100%;
}
// header

.headerWrapper {
  .burgerMenu {
    display: none;
    cursor: pointer;
    @media screen and (max-width: 639px) {
      display: inline;
    }
    .bar1,
    .bar2,
    .bar3 {
      width: 25px;
      height: 3px;
      background-color: #ffff;
      margin: 3px 0;
      transition: 0.4s;
    }
  }

  .change {
    .bar1 {
      -webkit-transform: rotate(-45deg) translate(-6px, 3px);
      transform: rotate(-45deg) translate(-6px, 3px);
    }

    .bar2 {
      opacity: 0;
    }

    .bar3 {
      -webkit-transform: rotate(45deg) translate(-4px, -4px);
      transform: rotate(45deg) translate(-4px, -4px);
    }
  }

  .is-inactive {
    display: inline-flex;
  }
}

// universal
.px-universal {
  padding: 0 3%;
}

.pl-universal {
  padding-left: 3%;
}

.menuContainer {
  .bg-red,
  .bg-white {
    .pic {
      border-color: #ff8cf0;
    }
  }
  .bg-pink {
    .pic {
      border-color: #d71d24;
    }
  }

  @media only screen and (min-width: 768px) {
    .mainSlide {
      //  margin-left: -20%;
      .slick-current {
        display: none !important;
      }
      .slick-slide {
        width: 200px;
      }
    }

    .navSlide {
      .slick-slider {
        .pic {
          border-color: #ffff;
          .picS {
            display: none;
          }
          .picL {
            display: block;
          }
        }
      }
    }

    .bg-white {
      .text {
        color: #d71d24 !important;
      }
      .navSlide {
        .slick-slider {
          .pic {
            border-color: #d71d24;
          }
        }
      }
    }

    .textSlide {
      .slick-slider {
        .pic {
          display: none;
        }

        .name {
          display: block;
        }

        .description {
          display: block;
        }

        .ingredient {
          display: block;
        }
      }
    }

    .layout2Slide {
      .slick-current {
        .pic {
          border-color: #ffff;
        }
        .name {
          opacity: 1 !important;
        }

        .description {
          opacity: 1 !important;
        }

        .ingredient {
          opacity: 1 !important;
        }
      }

      .slick-slider {
        .name {
          display: block;
          opacity: 0;
        }

        .description {
          display: block;
          opacity: 0;
        }

        .ingredient {
          display: block;
          opacity: 0;
        }
      }
    }

    .layout3Slide {
      .slick-slider {
        .pic {
          border: none;
        }
      }
      .slick-current {
       
        .name {
          opacity: 1 !important;
          display: block;

        }

      }

    }
  }
}
